<div class="row">
    {{!-- order ready box on the left --}}
    <div class="col-md burgerBox text-center card p-3" style="height: 350px">
        <h4 class="card header">ORDER IS READY TO EAT</h4>
            <div class="card overflow-auto content" style="height: 300px">
                {{!-- lists each burger from the database --}}
                <ul class="list-group">
                    {{#each burgers}}
                        {{#unless devoured}}
                        <h4>{{> burgers/burger-block devoured=false}}</h4>      
                        {{/unless}}
                    {{/each}}
                </ul>
            </div>
    </div>
    {{!-- leftovers box on the right to delete --}}
    <div class="col-md burgerBox text-center card p-3" style="height: 350px">
         <h4 class="card header">LEFTOVERS?</h4>
         <div class="card overflow-auto content" style="height: 300px">
             {{!-- lists each burger and sets devoured to true --}}
            <ul class="list-group">
                {{#each burgers}}
                    {{#if devoured}}
                    <h4>{{> burgers/burger-block devoured=true}}</h4>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>
{{!-- user input area --}}
 <h5>CAN I TAKE YOUR ORDER?</h5>
{{!-- <div class="row-md"> --}}
    <div class="card addburger">
        <div class="card body burgerinput">
            {{!-- posts the user input into the order ready box on the left --}}
            <form action="/api/burgers" method="POST" class="create-form">
                <div class="form-group">
                    {{!-- textarea for the user's burger input --}}
                    <textarea type="text" id="burg" name="burger_name" style="resize: none"></textarea>
                </div>
            </form>
            <button type="submit" class="btn btn-outline-danger order">PLACE ORDER</button>
        </div> 
    </div>    
{{!-- </div> --}}
{{!-- link to github repository --}}
<div class="row text-center repo">
    <a href="https://github.com/janessaref/hamburglar" target="_blank">
        <img src="/assets/img/GitHub-Mark-32px.png" style="height:32px" id="github" alt="github logo" />
    </a>
</div>


