<div class="row">

    <div class="col-md burgerBox text-center card p-3" style="height: 350px">
        <h4 class="card header">ORDER IS READY TO EAT</h4>
        <div class="card overflow-auto content" style="height: 300px">
                <ul class="list-group">
                   {{#each burgers}}
                    {{#unless devoured}}
                    <h4>{{> burgers/burger-block devoured=false}}</h4>
                            
                        {{/unless}}
                    {{/each}}
                </ul>
    </div>
    </div>
    <div class="col-md burgerBox text-center card p-3" style="height: 350px">
         <h4 class="card header">LEFTOVERS?</h4>
         <div class="card overflow-auto content" style="height: 300px">
            <ul class="list-group">
                {{#each burgers}}
                    {{#if devoured}}
                        <h4>{{> burgers/burger-block devoured=true}}</h4>
                    {{/if}}
                {{/each}}
            </ul>
    </div>
         </div>
        

</div>
 
        <h5>CAN I TAKE YOUR ORDER?</h5>
<div class="row-md">
    <div class="card addburger">
        <div class="card body burgerinput">
              <form action="/api/burgers" method="POST" class="create-form">
            <div class="form-group">
                <textarea type="text" id="burg" name="burger_name" style="resize: none;"></textarea>
            </div>
        </form>
         <button type="submit" class="btn btn-outline-danger order">PLACE ORDER</button>
        </div> 
    </div>    
    </div>
    <div class="row text-center repo">
        <a href="https://github.com/janessaref/" target="_blank">
         <img src="/assets/img/GitHub-Mark-32px.png" style="height:32px" id="github" alt="github logo" />
                                </a>
    </div>
</div>

