<li>
	{{burger_name}}

	<button class="btn btn-danger eatBurger" data-id="{{id}}" data-yumburger="{{devoured}}">
		{{#unless devoured}}EAT ME{{/unless}}
	</button>

	<button class="delete-burger btn btn-danger" data-id="{{this.id}}">
		{{#if devoured}}THROW BURGER AWAY{{/if}}</button>
</li>

