<li>
	{{burger_name}}

	
		{{#unless devoured}}<button class="btn btn-danger eatBurger" data-id="{{id}}" data-yumburger="{{devoured}}">EAT ME</button>{{/unless}}
	

	{{#if devoured}}<button class="delete-burger btn btn-danger" data-id="{{this.id}}">THROW BURGER AWAY{{/if}}</button>
</li>

