<li class="list-group-item" style="background-color: #afdab2; border-radius: 10px">
	{{burger_name}}

	
		{{#unless devoured}}<div class="row"><button class="btn btn-outline-danger eatBurger" data-id="{{id}}" data-yumburger="{{devoured}}">STEAL ME</button></div>{{/unless}}
	

	{{#if devoured}}<div class="row"><button class="delete-burger btn btn-outline-danger" data-id="{{this.id}}">THROW BURGER AWAY</div></button>{{/if}}
</li>

